* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.gifer.com/srG.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;
}

.login-container,
.forgotContainer,
.signup-container {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    -webkit-backdrop-filter:blur(10);
    backdrop-filter: blur(10px);
}

h2 {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #026ada;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 10px;
}

.links a {
    display: block;
    margin: 5px 0;
    color: #007BFF;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}