* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.gifer.com/srG.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;
}

.login-container,
.forgotContainer,
.signup-container {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.502);
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    -webkit-backdrop-filter: blur(10);
    backdrop-filter: blur(10px);
}

.dashboard-container {
    width: 350px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.285);
    /* Very transparent white */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari support */
    backdrop-filter: blur(10px);
    /* This creates the blur effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dashboard-container {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
}

button[type="submit"]:hover,
.logout-btn:hover {
    background-color: rgba(33, 136, 56, 0.9);
    /* Darker semi-transparent green on hover */
}

/* Logout button */
.logout-btn {
    width: auto;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Project description and sensor data */
.project-description,
.sensor-data {
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(248, 249, 250, 0.1);
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur;
}


h2 {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #026ada;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 10px;
}

.links a {
    display: block;
    margin: 5px 0;
    color: #007BFF;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* Text fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dashboard-container,
.signup-container,
.login-container,
.forgotContainer,
h1,
h2,
p,
iframe{
    animation: fadeIn 1s ease-in-out;
}